<div id="gameScreen">
    <div style="margin-left: 21%">
        <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" style="width: 250px; height: 250px;">
            <md-icon>
                <img class="circleImg2" ng-src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQ0tQB64olTKAK6ccG8u9S788IvD8x1lw231w6tYy0FZOYcZoDkzg" style="margin-left: -85px; margin-top: -85px;">
            </md-icon>
        </md-button>
        <span style="font-size: 72px; padding-left: 250px; padding-right: 250px">VS</span>
        <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" style="width: 250px; height: 250px;">
            <md-icon>
                <img class="circleImg2" ng-src="vm.opponent.icon" style="margin-left: -85px; margin-top: -85px;">
            </md-icon>
        </md-button>
    </div>
    <div>
        <div style="display: inline-block; margin-left: 19%; font-size: 20px;"><b>HP:</b></div>
        <input id="playerOneHealth" style="background-color: red; width: 250px; height: 25px; text-align: right; display: inline-block; border: solid black 3px; border-radius: 5px" value="100" disabled/>
        <div style="display: inline-block; margin-left: 30%; font-size: 20px;"><b>HP:</b></div>
        <input id="playerTwoHealth" style="background-color: red; width: 250px; height: 25px; text-align: right; display: inline-block; border: solid black 3px; border-radius: 5px" value="100" disabled/>
        <div>
            <textarea id="results" rows="7" style="width: 100%; max-width: 100%; resize: none;" flex="" readonly></textarea>
        </div>
        <div style="font-size: 60px; text-align: left; display: inline-block; width: 49%; background-color: red;">Attackers Abilities</div>
        <div style="font-size: 60px; float: right; display: inline-block; width: 49%; background-color: red;">Defenders Abilites</div>
        <button style="font-size: 40px; float: right" disabled>EAT HIM</button><button style="font-size: 40px;" ng-click="damageOne()">FLIPPY FLIPPER FLIP</button><br>
        <button style="font-size: 40px; float: right" disabled>SCARE</button><button style="font-size: 40px;" ng-click="damageTwo()">SUPER SPEEDY ATTACK</button><br>
        <button style="font-size: 40px; float: right" disabled>QUICK ATTACK</button><button style="font-size: 40px;" ng-click="damageThree()">PARENT BAIT</button><br>
    </div>
</div>
<div style="font-size: 72px; text-align: center"><button style="background-color: red; border-radius: 25px" data-toggle="modal" data-target="#myModal" id="endGame">RUN AWAY</button></div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p style="font-size: 72px;">Are you sure?<button ng-click="modalClose()" ui-sref="playerInfo" style="font-size: 72px;">Yes</button><button data-dismiss="modal" style="margin-left: 10px">No</button></p>
            </div>
        </div>
    </div>
</div>
