<br>


<md-card layout="column" layout-align="center center" >

    <jk-carousel
            data="vm.dataArray"
            item-template-url="'Templates/item-template.html'"
            max-width="800"
            max-height="277"
            auto-slide="true"
            auto-slide-time="3000" >
    </jk-carousel>

</md-card>
<br>
<md-card >
    <md-content class="cardTwo">
        <div class="textGroup">
            <h2 class="md-title">Team Members:</h2>
            <div flex="50">
                <ul class="md-caption">
                    <li>
                        Ty Thornton
                    </li>
                    <li>
                        Andre Morales
                    </li>
                    <li>
                        Garrett Brinkman
                    </li>
                </ul>
            </div>
        </div>
    </md-content>
</md-card>
<md-card >
    <md-content class="cardTwo">
        <div class="textGroup">
            <h2 class="md-title">Description</h2>

            <div class="md-caption">
                matc spring 2016 group webAppGame
            </div>
<br>
            <br>
        </div>
    </md-content>
</md-card>